@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

.homepageBackground{
    background-image: url('image/clean_bandit.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

#homepageTop{
    width: 100%;
    height: 75px;
    position: fixed;
    background-color: cadetblue;
    z-index: 1;
}
body{
    margin:0
}
#homepageLeft{
    height: 600px;
    width: 60%;
    float: left;
    position: relative;
}
#homepageRight{
    height: 600px;
    width: 40%;
    overflow: auto;
    float: right;
    position: relative;


}
button{
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-top: 10px;
}
img{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    position: relative;
    top: -49px;
    left: -5.5px;
}
.member{
    position: relative;
    float: right;
    width: 150px;
    border-radius: 20%;
    right: 100px;
    background-color: aqua;
    font-size: small;
}
p{
    font-family: 'Playpen Sans', cursive;
}
.login{
    position: relative;
    float: right;
    margin-right: 20px;
    width: 100px;
    border-radius: 20%;
    right: 100px;
    background-color: aqua;
}
.profile{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    position: relative;
    float: right;
    right: -275px; 
    top:-10px
}
#profilepic{
    width: 65px;
    height: 65px;
    right: -276px;
}
#BandName{
    position: absolute;
    bottom: 0;
    left: 0;
    color: crimson;
    font-size: 120px;
    font-style: italic;
    font-family: 'Vina Sans', sans-serif;
    top: 350px;
}
.menu{
    width: 300px;
    height: 460px;
    position: absolute;
    right: 100px;
    border-radius: 5%;
    background-image:url(image/background.jpg) ;
    top:100px

}
#News{
    text-align: center;
    color: white;
    font-size: x-large;
    margin-top: 10px;
    font-family: 'Merienda', cursive;
}
#concert{
    height: 200px;
    width: 250px;
    border-radius: 15%;
    float: right;
    padding-right: 20px;
    padding-top: 20px;
}
.textbox{
    float: right;
    margin: 5px;
    width: 280px;
    height: 120px;
    border-radius: 15%;
    border-color: black;
    border: 3px solid;
    top: -30px;
}
.tour{
    color: red;
    text-align: center;
    margin-top: -50px;
    font-size: x-large;
}
#description{
    color:gold;
    text-align: left;
    padding-left: 10px;
}
.findOut{
    width: 150px ;
    height: 50px;
    border-radius: 10%;
    background-color: yellow;
    margin-left: 70px;
}
#findOutMore{
    font-family: 'Oswald', sans-serif;
    font-size: large;
    margin-top: 10px;
}




    





